
    <div class="search_field">
        <div class="small_container">
            <div class="row">
                <h1>Komyut.ph<br></h1>
            </div>
            <div class="row">
                <p>Your Commuting Partner in the Philippines</p>
            </div>
            <div class="row">
                <div class="column_left">
                    <p>
                        From
                    </p>
                </div>

                <div class="column">
                    <input type="text" placeholder="Enter starting point" />
                </div>
            </div>

            <div class="row">
                <div class="column_left">
                    <p>
                        To
                    </p>
                </div>

                <div class="column">
                    <input type="text" placeholder="Enter destination" />
                </div>
            </div>

            <div class="row">
                <div class="column2">
                    <input type="checkbox" id="discount" name="disc" value="Discount" />
                    <label for="disc">Check if Senior/Student</label>
                </div>
                <div class="column2_right">
                    <button>SEARCH</button>
                </div>
            </div>
        </div>
    </div>
