<div class="search_field">
    <div class="small_container">
        <div class="row">
            <img class="ping" src="komyut_images/blue-worker-md.png">
        </div>

        <div class="row">
            <h3>
                Thank you for your suggestion!<br />
                We'll go ahead and look into it
            </h3>
        </div>

        <div class="row">
            <p3>
                Our team will now look into this route and will update<br />
                our results once we confirmed this route's existence.<br />
                <a href="/">Click here</a> to search for other commuting routes.<br />
                <a href="/suggest">Click here</a> to suggest an another route.
            </p3>
        </div>
    </div>
</div>